#sidebar {

	.nav a.active {
		border-left: 2px solid color('orange');
		&+ul {
			display: block;
		}
	}

	.nav li a:not(.active) + ul {
		display: none;
	}

}

#main {
	margin-bottom: 1000px;

	code {
		font-family: 'Consolas', monospace;
		line-height: 1.5em;
	}

}

.code-fragment {
	.code-fragment-sample {
		.highlight {
			padding: 30px 15px;
			position: relative;
			small {
				position: absolute;
				right: 15px;
			}
		}
	}
	.code-fragment-preview {

	}
}
