
.clearfix {
  @include clearfix;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide,
.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.affix {
  position: fixed;
  overflow: auto;
  height: 100%;
}

.nowrap {
	white-space: nowrap;
}
