


/**

** tint / shades **
base
dark
darker
light
lighter

**/

$color-types: (
	'base', 'dark', 'light', 'variant'
);

$colors-dark-percentage: 5%;
$colors-light-percentage: 5%;

// generate frontend classes
@each $colorName, $colorHex in $colors {

	@each $colorType in $color-types {

		// @BASE class
		@if $colorType == 'base' {
			.#{$colorName}-text {
				color: #{$colorHex} !important;
			}
			.#{$colorName}-bg {
				background-color: #{$colorHex} !important;
			}
		}

		// @LIGHT/DARK class
		@if $colorType != 'base' && $colorType != 'variant' {
			.#{$colorName}-text-#{$colorType} {
				@if $colorType == 'dark' {
					color: darken($colorHex, $colors-dark-percentage) !important;
				} @else if $colorType == 'light' {
					color: lighten($colorHex, $colors-light-percentage) !important;
				}
			}
			.#{$colorName}-bg-#{$colorType} {
				@if $colorType == 'dark' {
					background-color: darken($colorHex, $colors-dark-percentage) !important;
				} @else if $colorType == 'light' {
					background-color: lighten($colorHex, $colors-light-percentage) !important;
				}
			}
		}

		// @VARIANT class
		@if $colorType == 'variant' {
			.#{$colorName}-text-variant {
				@include color-variant($colorName);
			}
			.#{$colorName}-bg-variant {
				@include background-variant($colorName);
			}
		}

		// @HOVER class
		@if $colorType == 'variant' {
			.#{$colorName}-text-hover {
				@include color-variant($colorName, 'base', 'hover');
			}
			.#{$colorName}-bg-hover {
				@include background-variant($colorName, 'base', 'hover');
			}
		}

	}

}
