@mixin background-variant($color, $nuance: 'base', $event: 'active') {
	background-color: color($color, $nuance) ;
	&:#{$event} {
		background-color: color($color, 'dark');
	}
}

@mixin border-variant($color, $nuance: 'base', $size: '1px') {
	border: #{$size} solid color($color, $nuance);
	&:active, &:focus {
		border: #{$size} solid color($color, 'dark');
	}
}

@mixin color-variant($color, $nuance: 'base', $event: 'active') {
	color: color($color, $nuance);
	&:#{$event} {
		color: color($color, 'dark');
	}
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
