
$__SHADES: (
  'base':    0,
  'dark':    -5,
  'darker':  -15,
  'light':   5,
  'lighter': 15
);

$__COLORS: (
  "body":     #fafafa,
  "text":     #3b3b3b,
  "link":     #446CB3,
  "white":    #ffffff,
  "black":    #000000,
  "purple":   #bb00ff,
  "grey":     #ededed,
  "blue":     #2f4b7c,
  "green":    #5cb85c,
  "red":      #d9534f,
  "orange":   #f0ad4e,
  "magneta":  #5bc0de,
  "facebook": #4C66A4,
  "twitter":  #55ACEE,
  "github":   #800080,
  "google":   #FF4444,
);
