

// MAKE COLUMN MIXIN
@mixin make-column($index, $screen) {
  .col-#{$screen}-#{$index} {
    width: percentage($index / $grid-columns);
  }
}

@mixin make-push($index, $screen) {
  .col-#{$screen}-push-#{$index} {
    @if $index == 0 {
      left: auto;
    }
    @else {
      left: percentage($index / $grid-columns);
    }
  }
}

@mixin make-pull($index, $screen) {
  .col-#{$screen}-pull-#{$index} {
    @if $index == 0 {
      right: auto;
    }
    @else {
      right: percentage($index / $grid-columns);
    }
  }
}

@mixin make-offset($index, $screen) {
  .col-#{$screen}-offset-#{$index} {
      margin-left: percentage($index / $grid-columns);
  }
}

@mixin make-floats($screen, $index: 1, $list: ".col-#{$screen}-#{$index}") {

  @for $index from (1 + 1) through $grid-columns {
    $list: "#{$list}, .col-#{$screen}-#{$index}";
  }

  #{$list} {
    float: left;
  }

}

@mixin make-columns() {

  // Begin with first screen and first index
  $list: ".col-#{nth(nth($grid-screens, 1), 1)}-1";
  @each $screen, $width in $grid-screens {

    @for $index from (1 + 1) through $grid-columns {
      $list: "#{$list}, .col-#{$screen}-#{$index}";
    }

  }

  #{$list} {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left:  ceil(($grid-gutter-width / 2));
    padding-right: floor(($grid-gutter-width / 2));
  }

}

// MAKE GRID MIXIN
@mixin make-grid($screen, $width) {

  @for $index from 1 through $grid-columns {

    // CREATE THE COLUMNS
    @include make-column($index, $screen);

    // CREATE PUSHES
    @include make-push($index, $screen);

    // CREATE PUSHES
    @include make-offset($index, $screen);

  }

  // CREATE FLOATS
  @include make-floats($screen);

}
